.backgroundColor{
	-fx-background-color: #453471;
}
.buttoncolor{
	-fx-background-color: #E839F6;
}


.button:hover{
	-fx-background-color: #7A54D4;
}
.studentbutton{
	-fx-border-radius: 50%;
}/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */